name: Build Image-Processor
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:latest

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Build images
        run: IMAGE=ghcr.io/${{ github.repository }}:latest docker-compose -f tests/docker-compose.yml up imagetool
      - name: Count folders
        run: |
          FOLDERS=$(ls ./tests/target | wc -l);
          if [ "${FOLDERS}" -ne "2" ]; then
            exit 1;
          fi;
      - name: Count Files
        run: |
          FILES=$(ls ./tests/target/640/* | wc -l);
          if [ "${FILES}" -ne "3" ]; then
            exit 1;
          fi;          
        
